.org {
    background-color: rgb(252, 252, 252);
    /* border: 2px solid black; */
    border-radius: 35px;
    width: 40vw; /* Adjust width to fit side by side */
    height: 20vh;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition: 0.3s;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.org:hover {
    transform: translateY(-5px); /* Slight lift effect */
    box-shadow: 10px 10px 8px #090909;
}

.orga {
    margin: 0;
    font-size: 1rem;
    color: #555;
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #000;
}