/* ContactContainer.css */
#contact-container {
    padding: 16px;
    max-width: 400px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  #contact-container h2 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  
 p {
     display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dotted rgb(96 139 168);
  }
  
  #contact-container a {
    color: #2563eb;
    text-decoration: none;
  }
  
  #contact-container a:hover {
    text-decoration: underline;
  }
  