.events-container {
    z-index: 1;
}
.modal-title {
    margin-bottom: 0;
    line-height: var(--bs-modal-title-line-height);}
h1{
    font-size: 1.6rem;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
    font-family: 'PP Fragment', sans-serif;
    font-size: 2.25rem;
    text-transform: capitalize;
    line-height: 2.25rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.gradient-custom-3 {
  /* fallback for old browsers */
  background: rgba(255, 191, 0, 0.1); /* Reduced alpha to 0.1 */

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right,  rgba(255, 140, 0, 0.4), rgba(243, 233, 122, 0.4));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(255, 140, 0, 0.4), rgba(243, 233, 122, 0.4));
}

.gradient-custom-4 {
  /* fallback for old browsers */
  background: rgba(255, 191, 0, 0.071); /* Reduced alpha to 0.1 */

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(255, 140, 0, 0.4), rgba(243, 233, 122, 0.4));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(255, 140, 0, 0.7), rgba(243, 233, 122, 0.7), rgba(255, 48, 0, 0.7));
}
.btn-success {
    --mdb-btn-bg: rgba(243, 233, 122) !important;
    --mdb-btn-color: #fff;
    --mdb-btn-box-shadow: 0 4px 9px -4px rgba(243, 233, 122);
    --mdb-btn-hover-bg: rgba(243, 233, 122) !important;
    --mdb-btn-hover-color: #fff;
    --mdb-btn-focus-bg: rgba(243, 233, 122) !important;
    --mdb-btn-focus-color: #fff;
    --mdb-btn-active-bg: rgba(243, 233, 122) !important;
    --mdb-btn-active-color: #fff;
    --mdb-btn-box-shadow-state: 0 8px 9px -4px rgba(19, 156, 73, 0.3), 0 4px 18px 0 rgba(243, 233, 122 ,0.2);
}
.btn:active {
  background-color: rgba(243, 233, 122);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}