/*  */

.history-container {
    max-width: 80%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .history-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .history-table th, .history-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  .history-table th {
    background: rgb(255, 205, 178);
    color: black;
  }
  
  .history-table tr:hover {
    background: #f1f1f1;
  }
  
  .status-booked {
    color: green;
    font-weight: bold;
  }
  
  .status-cancelled {
    color: red;
    font-weight: bold;
  }
  